{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>iTrash登录</title>
<link rel="stylesheet" type="text/css" href="{% static "itrash_manage/loginpage/css/normalize.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "itrash_manage/loginpage/css/login.css" %}" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="{% static "itrash_manage/loginpage/css/component.css" %}" />
<!--[if IE]>
<script src="{% static "itrash_manage/loginpage/js/html5.js"%}"></script>
<![endif]-->
</head>
<body>
		<div class="container login">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="star-canvas"></canvas>
					<div class="logo_box">
						<h3>登录 | iTrash:环境卫生开拓者</h3>
						<form action="{% url "dologin" %}" name="credentials" method="post">
                            {% csrf_token %}
							<div class="input_outer">
								<span class="u_user"></span>
								<input name="username" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户"/>
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请输入密码"/>
							</div>
							<div class="mb2"><input class="act-but submit" type="submit" style="color: #FFFFFF" value="登录"/></div>
						</form>
                        {% if error_message %}
                        <div class="error_message_outer">
                            <p>{{ error_message }}</p>
                        </div>
                        {% endif %}
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="{% static "itrash_manage/loginpage/js/TweenLite.min.js" %}"></script>
		<script src="{% static "itrash_manage/loginpage/js/EasePack.min.js" %}"></script>
		<script src="{% static "itrash_manage/loginpage/js/rAF.js" %}"></script>
		<script src="{% static "itrash_manage/loginpage/js/loginscript.js" %}"></script>
	</body>
</html>